
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>

<body>
    <h2>Inventory Management</h2>
    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <a class="popup btn btn-primary" href="/Inventory/Save/0" style="margin-bottom:20px; margin-top:20px;">Add New Book</a>
        <table id="myTable">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Category ID</th>
                    <th>ISBN</th>
                    <th>Author</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
            </thead>
        </table>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>


    <script>
        $(document).ready(function () {
            var oTable = $('#myTable').DataTable({
                "ajax": {
                    "url": '/Inventory/loaddata',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "BookID", "autoWidth": true },
                    { "data": "Title", "autoWidth": true },
                    { "data": "CategoryID", "autoWidth": true },
                    { "data": "ISBN", "autoWidth": true },
                    { "data": "Author", "autoWidth": true },
                    { "data": "Stock", "autoWidth": true },
                    { "data": "Price", "autoWidth": true },
                    {
                        "data": "BookID", "width": "50px", "orderable": false, "render": function (data) {
                            return '<a class="popup btn btn-default" href="/Inventory/Save/'+data+'">Edit</a>';
                        }
                    },
                    {
                        "data": "BookID", "width": "50px", "orderable": false, "render": function (data) {
                            return '<a class="popup btn btn-danger" href="/Inventory/Delete/'+data+'">Delete</a>';
                        }
                    }
                ]

            });


            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
                
            })

            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        modal: true,
                        height: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                            window.location.reload();
                        }
                    })


                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog("instance").dialog("close");
                                oTable.ajax.reload();
                               
                            }
                        }
                    })

                    e.preventDefault();
                })
                $dialog.dialog('open');
            }


        })

    </script>
</body>
</html>


