@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>
    Welcome to GetFreshBooks, one of the world's leading specialist online bookstores.
    We're proud to offer more than 18 million titles at low prices -- all with free
    delivery worldwide to over 100 countries. Whatever your interest or passion,
    you'll find something interesting in our bookshop full of delights.
</p>
<h4>How is it going?</h4>
<p>
    GetFreshBooks ships to thousands of customers across the world every day from our
    fulfillment centres in Gloucester, United Kingdom, and Melbourne, Australia. We have
    more than a million customers and a reputation for extremely high service levels.
</p>
<h4>The Long Tail: why are we making as many books available as possible?</h4>
<p>
    Of the 30 million titles ever printed in the English language only a few million
    of these are in print. We are seeking to make available as many of these titles as
    possible (and working to do the same with foreign language titles). This way, we
    will have the largest breadth of titles available in the world.
</p>
<h4>Publishers and Distributors</h4>
<p>
    We want to offer as many books as possible and we are very keen to talk to publishers and distributors about supply arrangements.
</p>
