@{
    ViewBag.Title = "Home Page";
    ViewBag.Name = "Admin";
    ViewBag.Roles = new List<string>();
}

<div class="row">
    @foreach (var book in ViewBag.Books)
    {
        <div class="col-md-2 col-xs-6 book mt-m">
            <img class="book--img" src="~/images/@(book.ISBN).jpg" />
            <div class="book--title">@book.Title</div>
            <div class="book--author">@book.Author</div>
            <div class="book--price">S$@book.Price</div>
            @if (this.User.IsInRole("Admin")) {
                <button type="button" class="btn btn-default"><i class="fa fa-cart-plus"></i> Add to Cart</button>
            }
        </div>
    }
</div>